/* * {
    border: 2px solid red;

  } */

body, html {
   background-color: rgb(1, 32, 100);
}
  
#displayContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: calc(100vw - 850px); 
    width: 850px; 
    height: 100vh;
}

.infoDisplay {
    border: 2px solid transparent;
    width: 100%;
    height: 100%
}

.infoHeader {
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(65, 64, 64);
    font-weight: bold;
    font-size: 36px;
}

.infoPara {
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(65, 64, 64);
    font-weight: bold;
    font-size: 28px;
}

.codeDisplay {
    background-color: rgb(236, 108, 22);
}

.keyDisplay {
    background-color: rgb(6, 163, 163);
}

.whichDisplay {
    background-color: cyan;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 2px solid transparent;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 1000px; 
    height: 100vh;
    background-color: rgb(186, 208, 255);
}
