/* * {
    border: 2px solid red;

  } */

  
#displayContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: calc(100vw - 850px); 
    width: 850px; 
    height: 100vh;
}

.infoDisplay {
    border: 2px solid black;
    width: 100%;
}

.infoHeader {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 1000px; 
    height: 100vh;
}
